@import url("https://fonts.googleapis.com/css?family=Mr+Dafoe");
@import url("https://fonts.googleapis.com/css?family=Mukta+Malar:300,700");

body {
  font-family: sans-serif;
}

  .grid-layout  {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 0;
    padding: 0;
  }

  .grid-layout header {
    background: #00bcd4;
    text-align: center;
    display: grid;
    grid-column: 1/ span 2;
    grid-template-columns: 4fr 1fr;
  }

  .grid-layout header h1 {
    grid-column: 1/ span 2;
  }

  .grid-layout .header__left-side {
    padding-left: 10px;
    text-align: left;
  }

  .grid-layout .header__right-side {
    padding-right: 10px;
    text-align: right;
  }

  .grid-layout nav {
    background: #ff5722;
    grid-column: 1/span 1;
    font-family: sans-serif;

  }

  .grid-layout nav a {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 10%;
    position: relative;
    cursor: crosshair;
    text-align: left;
    border-bottom: 1px solid white;
  }
  .grid-layout nav a:hover {
    background-color: #ff784e;
  }

  .grid-layout nav a:before {
    content: "";
    height: 5px;
    width: 100%;
    background-color: rgb(143, 27, 194);

    position: absolute;
    top:0;
    left:0;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform ease-in-out 1000ms;
  }

  .grid-layout nav a:hover:before {
    transform: scaleX(1);
  }

  .grid-layout .main {
    background: #b2ebf2;
    grid-column: 2 / 3;
    padding: 5%;
  }
